<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>后台欢迎页</title>
<link rel="stylesheet" href="../resources/css/reset.css" />
<link rel="stylesheet" href="..//resources/css/content.css" />
<link rel="stylesheet"
	href="../resources/css/loginmain/public.css" />
</head>
<body marginwidth="0" marginheight="0">
	<div id="dcMain">
		<!-- 当前位置 -->
		<div id="urHere">
			欢迎<b><font color="black">${username}</font></b>登陆后台管理中心，当前时间<font
				color="black">${currTime}</font>
		</div>
		<div id="index" class="mainBox"
			style="padding-top: 18px; height: auto !important; height: 550px; min-height: 550px;">

			<table width="100%" border="0" cellspacing="0" cellpadding="0"
				class="indexBoxTwo">
				<tr>
					<td width="65%" valign="top" class="pr">
						<div class="indexBox">
							<div class="boxTitle">网站基本信息</div>
							<ul>
								<table width="100%" border="0" cellspacing="0" cellpadding="7"
									class="tableBasic">

									<tr>

										<td>系统语言：</td>
										<td><strong>zh_cn</strong></td>
										<td>编码：</td>
										<td><strong>UTF-8</strong></td>
									</tr>
									<tr>
										<td>JAVA版本：</td>
										<td><strong>v1.3 Release 20160125</strong></td>
										<td>安装日期：</td>
										<td><strong>2016-02-25</strong></td>
									</tr>
								</table>
							</ul>
						</div>
					</td>
					<td valign="top" class="pl">
						<div class="indexBox">
							<div class="boxTitle">管理员 登录记录</div>
							<ul>
								<table width="100%" border="0" cellspacing="0" cellpadding="7"
									class="tableBasic">
									<tr>
										<th width="45%">IP地址</th>
										<th width="55%">操作时间</th>
									</tr>
									<tr>
										<td align="center">127.0.0.1</td>
										<td align="center">2016-02-25 23:29:08</td>
									</tr>
									<tr>
										<td align="center">127.0.0.1</td>
										<td align="center">2016-02-25 13:48:48</td>
									</tr>
									<tr>
										<td align="center">127.0.0.1</td>
										<td align="center">2013-10-16 09:43:01</td>
									</tr>
									<tr>
										<td align="center">127.0.0.1</td>
										<td align="center">2013-10-16 09:42:58</td>
									</tr>
								</table>
							</ul>
						</div>
					</td>
				</tr>
			</table>
	 
			<div class="indexBox">
				<div class="boxTitle">
					您有 <span id="sumwithpending" style="color: red;">0</span> 条站内信息
				</div>
				<ul>
					<table width="100%" border="0" cellspacing="0" cellpadding="7"
						class="tableBasic">
						<tr>
							<td width="20%" style="padding: 5px;" valign="top">站内消息：</td>
							<td style="padding: 5px;" colspan="1" valign="top">
						 
								<a>1条</a>
							 
							</td>
						</tr>
						 
						<tr>
							<td style="padding: 5px;">待审核礼品信息：</td>
							<td style="padding: 5px;">
							 
								<a>0条</a>
							 
							</td>
						</tr>
						<tr>
							<td style="padding: 5px;">待审核请假信息</td>
							<td style="padding: 5px;">
							 
								<a>0条</a>
							 
 							 </td>
						</tr>
						 
					</table>
			</div>
			</td>
		</div>
	</div>
</body>
<script type="text/javascript">
	var a = ${pendingnum};
	var b = ${giftnum};
	var c = ${leavenum};
	var d = a + b + c;
	var ele = document.getElementById("sumwithpending").innerHTML = d;
</script>
</html>