<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.sd.farmework.mapper.SysUnitInfoMapper"> 

	<resultMap type="com.sd.farmework.pojo.SysUnitInfo" id="SysUnitInfoMap"> 

		<result column="UNIT_ID" property="unitId"/>
		<result column="UNIT_NAME" property="unitName"/>
		<result column="FUNCTION_SEQUE" property="functionSeque"/>
		
		<!-- 系统公共属性 必须按照规定存取数据start -->
		<result column="REMARK" property="remark"/>
		<result column="STATUS" property="status"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="CREATE_USER_ID" property="createUserId"/>
		<result column="CREATE_USER_NAME" property="createUserName"/>
		<result column="CREATE_TEAM_ID" property="createTeamId"/>
		<result column="CREATE_TEAM_NAME" property="createTeamName"/>
		<result column="CREATE_DEPART_ID" property="createDepartId"/>
		<result column="CREATE_DEPART_NAME" property="createDepartName"/>
		<result column="CREATE_UNIT_ID" property="createUnitId"/>
		<result column="CREATE_UNIT_Name" property="createUnitName"/>
		<result column="LAST_UPDATE_TIME" property="lastUpdateTime"/>
		<result column="LAST_UPDATE_USER_ID" property="lastUpdateUserId"/>
		<result column="LAST_UPDATE_TEAM_ID" property="lastUpdateTeamId"/>
		<result column="LAST_UPDATE_TEAM_NAME" property="lastUpdateTeamName"/>
		<result column="LAST_UPDATE_DEPART_ID" property="lastUpdateDepartId"/>
		<result column="LAST_UPDATE_DEPART_NAME" property="lastUpdateDepartName"/>
		<result column="LAST_UPDATE_UNIT_ID" property="lastUpdateUnitId"/>
		<result column="LAST_UPDATE_UNIT_Name" property="lastUpdateUnitName"/>
		<!-- 系统公共属性 必须按照规定存取数据end -->

	</resultMap>
	<update id="update" parameterType="com.sd.farmework.pojo.SysUnitInfo">
		UPDATE SYS_UNIT_INFO set 
		t.UNIT_ID=#{unit_id},
		t.UNIT_NAME=#{unit_name},
		t.FUNCTION_SEQUE=#{function_seque},
		t.STATUS=#{status},
		t.REMARK=#{remark},
		t.CREATE_TIME=#{create_time},
		t.CREATE_USER_ID=#{create_user_id},
		t.CREATE_USER_NAME=#{create_user_name},
		t.UPDATE_TIME=#{update_time},
		t.UPDATE_USER_ID=#{update_user_id},
		t.UPDATE_USER_NAME=#{update_user_name}
		where 1=1 
	</update>
	<select id="queryById" parameterType="com.sd.farmework.pojo.SysUnitInfo"  resultMap="SysUnitInfoMap">
		SELECT 
		t.UNIT_ID,
		t.UNIT_NAME,
		t.FUNCTION_SEQUE,
		t.STATUS,
		t.REMARK,
		t.CREATE_TIME,
		t.CREATE_USER_ID,
		t.CREATE_USER_NAME,
		t.UPDATE_TIME,
		t.UPDATE_USER_ID,
		t.UPDATE_USER_NAME
		FROM  SYS_UNIT_INFO t 
		where  1 =1 
	</select>
	<select id="query" parameterType="com.sd.farmework.pojo.SysUnitInfo"  resultMap="SysUnitInfoMap">
		SELECT 
		t.UNIT_ID,
		t.UNIT_NAME,
		t.FUNCTION_SEQUE,
		t.STATUS,
		t.REMARK,
		t.CREATE_TIME,
		t.CREATE_USER_ID,
		t.CREATE_USER_NAME,
		t.UPDATE_TIME,
		t.UPDATE_USER_ID,
		t.UPDATE_USER_NAME
		FROM  SYS_UNIT_INFO t 
		where  1 =1 
	</select>
	<select id="queryListByPage" parameterType="com.sd.farmework.pojo.SysUnitInfo"  resultMap="SysUnitInfoMap">
		<![CDATA[ 
		SELECT RW,a.*
		FROM (
		SELECT ROWNUM RW,
		t.UNIT_ID,
		t.UNIT_NAME,
		t.FUNCTION_SEQUE,
		t.STATUS,
		t.REMARK,
		t.CREATE_TIME,
		t.CREATE_USER_ID,
		t.CREATE_USER_NAME,
		t.UPDATE_TIME,
		t.UPDATE_USER_ID,
		t.UPDATE_USER_NAME
		FROM  SYS_UNIT_INFO t 
 		) a 
		WHERE RW between #{pageSize} * (#{currPage} - 1) + 1 AND (#{pageSize} * (#{currPage} - 1)) + #{pageSize}
		]]> 
	</select>
	<select id="queryList" parameterType="com.sd.farmework.pojo.SysUnitInfo"  resultMap="SysUnitInfoMap">
		SELECT 
		t.UNIT_ID,
		t.UNIT_NAME,
		t.FUNCTION_SEQUE,
		t.STATUS,
		t.REMARK,
		t.CREATE_TIME,
		t.CREATE_USER_ID,
		t.CREATE_USER_NAME,
		t.UPDATE_TIME,
		t.UPDATE_USER_ID,
		t.UPDATE_USER_NAME
		FROM  SYS_UNIT_INFO t 
	</select>
	<insert id="add">
	insert into SYS_UNIT_INFO
	(
		UNIT_ID,
		UNIT_NAME,
		FUNCTION_SEQUE,
		STATUS,
		REMARK,
		CREATE_TIME,
		CREATE_USER_ID,
		CREATE_USER_NAME,
		UPDATE_TIME,
		UPDATE_USER_ID,
		UPDATE_USER_NAME
	)
	values
	(
		#{unitId},
		#{unitName},
		#{functionSeque},
		#{status},
		#{remark},
		#{createTime},
		#{createUserId},
		#{createUserName},
		#{updateTime},
		#{updateUserId},
		#{updateUserName}
	)
	</insert>
	<delete id="delete">
		delete from SYS_UNIT_INFO where 1=2 
	</delete>
	<select id="queryCount"  parameterType="com.sd.farmework.pojo.SysUnitInfo"  resultType="java.lang.Integer">
   		select    count(*) from SYS_UNIT_INFO where 1=1
	</select>
</mapper> 

